@font-face {
    font-family: 'Gilam';
    src: url("../fonts");
    src: local("☺"), url("../fonts/Gilam-Regular.woff2") format("woff"), url("../fonts/gilam-regular.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url("../fonts");
    src: local("☺"), url("../fonts/Gilam-SemiBold.woff2") format("woff"), url("../fonts/Gilam-SemiBold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url("../fonts");
    src: local("☺"), url("../fonts/Gilam-Bold.woff2") format("woff"), url("../fonts/gilam-bold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url("../fonts");
    src: local("☺"), url("../fonts/CirceRegular.woff2") format("woff"), url("../fonts/CirceRegular.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url("../fonts");
    src: local("☺"), url("../fonts/CirceBold.woff2") format("woff"), url("../fonts/CirceBold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}