
.background_1 {
    background-image: url("../images/background_general/header-bg.jpeg");
    padding: 40px 200px 0 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2 {
    background-image: url("../images/background_general/parallax-bg.jpeg");
    padding: 80px 200px 100px 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_3 {
    background-image: url("../images/background_general/background3.png");
    padding: 100px 200px 0 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo_image {
    align-self: center;
    padding-left: 5px;
}

.header_number {
    color: white;
    align-self: center;
    font-family: 'Circe', serif;
    font-weight: 700;
}

.header_number_colored {
    color: #D6AF76;
}

.header_button {
    background-image: url("../images/svg/phone.svg");
    background-repeat: no-repeat;
    position: relative;
    color: #D6AF76;
    padding: 10px 25px;
    margin-left: 20px;
    background-color: transparent;
    border: solid 1px #D6AF76;
    cursor: pointer;
    font-family: 'Circe', serif;
    font-weight: 400;
}

.button_icon {
    background-position: 5% 50%;
}

.main_top {
    color: white;
    margin-top: 90px;
    font-family: 'Gilam', serif;
    font-weight: 700;
}

.main_top_header{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Gilam', serif;
    font-weight: 700;
    font-size: 50px;
}

.main_top_text {
    font-family: Gilam, serif;
    font-style: normal;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;

}

.main_top_section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, minmax(468px, 1fr));
    grid-row-gap: 25px;
    font-weight: 700;
    font-size: 20px;

}

.main_top_section_item_1 {
    background-image: url("../images/background_items/bgsection1.png");
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.main_top_section_item_2 {
    grid-column: 2 / 4;
    background-image: url("../images/background_items/bgsection2.png");
    margin-right: 12px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 50px;


}

.main_top_section_item_3 {
    background-image: url("../images/background_items/bgsection3.png");
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_top_section_item_4 {
    grid-column: 1 / 3;
    background-image: url("../images/background_items/bgsection4.png");
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_top_section_item_5 {
    grid-column: 3 / 5;
    background-image: url("../images/background_items/bgsection5.png");
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_mid{
    color: white;
    padding-top: 100px;
}

.main_mid_text{
    font-family: 'Gilam', serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 90px;
}

.main_mid_container {
    display: grid;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, minmax(50px, 1fr));
    grid-gap: 20px;

}

.main_mid_item_1 {
    grid-row: 1 / 5;
    grid-column: 1;
    background-image: url("../images/background_items/bgmain1.png");
    display: flex;
    font-family: 'Gilam', serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 30px;


}

.main_mid_item_2 {
    grid-row: 1/6;
    background-image: url("../images/background_items/bgmain2.png");
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 700;
    font-size: 20px;


}

.main_mid_item_3 {
    grid-row: 1 / 4;
    background-image: url("../images/background_items/bgmain3.png");
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 500;
    font-size: 20px;

}

.main_mid_item_4 {
    grid-row: 5 / 12;
    grid-column: 1;
    background-image: url("../images/background_items/bgmain4.png");
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 500;
    font-size: 20px;

}

.main_mid_item_5 {
    grid-row: 6 / 11;
    background-image: url("../images/background_items/bgmain5.png");
    color: black;
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 500;
    font-size: 20px;


}

.main_mid_item_6 {
    grid-row: 4 / 8;
    background-image: url("../images/background_items/bgmain6.png");
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 500;
    font-size: 20px;
}

.main_mid_item_7 {
    grid-row: 8 / 12;
    background-image: url("../images/background_items/bgmain6.png");
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Gilam', serif;
    font-weight: 700;
    font-size: 20px;
}

.footer {
    font-family: 'Gilam', serif;
    font-weight: 500;
    font-size: 50px;
}

.footer_head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer_button {
    color: #D6AF76;
    font-family: 'Gilam', serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    border: solid 1px #D6AF76;
}

.footer_container {
    display: grid;
    grid-template-rows: repeat(2, minmax(391px, 1fr));
    grid-template-columns: repeat(3, 1fr);

}

.footer_main {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 100px;
}

.footer_item_1 {
    background-image: url("../images/background_items/bgfooter2.png");
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_item_2 {
    color: white;
    background-image: url("../images/background_items/bgfooter3.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_item_3 {
    background-image: url("../images/background_items/bgfooter4.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item_4 {
    background-image: url("../images/background_items/bgfooter1.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item_5 {
    background-image: url("../images/background_items/bgfooter5.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item_6 {
    background-image: url("../images/background_items/bgfooter6.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_background {
    background-color: #1c1818;
    padding-top: 200px;
}

